*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    height:100%;
    width:1140px;
    margin: 0 auto;
    /*background: #f00;*/
}
.select{
    background: #666;
}