#header{
    background: url(../images/banner.jpg) no-repeat center;
    height: 600px;
}
#header .box {
    width: 380px;
    height: 60px;
    /*background: #0000ff;*/
    float: left;
    line-height:60px;
}
#login a:hover{
    text-decoration: underline;
}
#login a,#title h1,#cart h4,#cart h5{
    color:#fff;
    cursor: pointer;
}
#title,#cart{
    text-align: center;
}
#cart{
    background: #0a0a01 url("../images/cart.png") no-repeat 90%;
    height: 30px;
    margin: 15px auto;
    width: 180px;
    line-height:35px;
    opacity: 0.5;
    filter:alpha(opacity=50);
    float:right;
}