#header{
    background: url(../images/banner.jpg) no-repeat center;
    height: 600px;
}
#login,#header h1,#cart{
    color: aqua;
}
#header img{
    vertical-align: bottom;
}
#cart{
    width:224px;
    height: 22px;
    padding: 10px;
    background: #ffff00;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}