/*user start*/
#user{
    height: 500px;
}
#user h2{
    margin-top: 56px;
}
#user .box{
    width: 570px;
    float: left;
    overflow: hidden;
}
#user #old-user{
    padding-top: 28px;
}
#user #old-user h5{
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#user #old-user .input{
    height: 28px;
    width: 381px;
    text-indent: 10px;
    font-size: 20px;
    font-weight: 300;
}
#user #old-user input[type="submit"]{
    margin-top: 28px;
    margin-bottom: 14px;
    width: 100px;
    height: 35px;
    background: #ef8743;
    color: #fff;
    display:block;
    border-radius: 10px;
    border: #fff;
    outline: none;
    font-size: 18px;
    text-align: center;
}
#user #old-user input[type="submit"]:hover{
    color: #000;
    background: #fff;
    border: 1px solid #000;
}
#user #old-user a{
    text-decoration: underline;
    color: #555;
}
#user #new-user h3{
    color: #ef8743;
    margin-bottom: 20px;
    font-size: 23px;
}
#user #new-user p{
    color: #555;
    margin-bottom:20px;
}
#user #new-user a{
    display:block;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    width: 100px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
}
#user #new-user a:hover{
    background: #ef8743;
    color: #fff;
    border:0;
}
/*user end*/